{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="card">
                <img src="/static/images/{{ user.profile_pic }}" alt="">
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="card">
                <p class="card-text">
                    {{ user.bio }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body%}