{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<div id="section-index">
    <div class="container-fluid">
        <h1 class="content-title">Welcome to Blogpoint </h1>
    </div>
</div>
<div>
    <div class="container" style="margin-top: 30px">
        <h2 class="content-title" style="text-align: center">Latest posts</h2>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <img src="/static/images/img1.png" alt="" class="card-img" style="height: 100px;width: 100px;padding-left: 20px;padding-top: 15px">
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8">
                            <div class="">
                                <p style="padding: 5px">Lorem ipsum dolor sit amet, conseco doloremque duc quaerat, quasi sequi temporibus veniam vitae voluptates! Asperiores laudantium optio quaerat repellendus velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <img src="/static/images/img1.png" alt="" class="card-img" style="height: 100px;width: 100px;padding-left: 20px;padding-top: 15px">
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8">
                            <div class="">
                                 <p style="padding: 5px">Lorem ipsum dolor sit amet, conseco doloremque duc quaerat, quasi sequi temporibus veniam vitae voluptates! Asperiores laudantium optio quaerat repellendus velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <img src="/static/images/img1.png" alt="" class="card-img" style="height: 100px;width: 100px;padding-left: 20px;padding-top: 15px">
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8">
                            <div class="">
                                <p style="padding: 5px">Lorem ipsum dolor sit amet, conseco doloremque duc quaerat, quasi sequi temporibus veniam vitae voluptates! Asperiores laudantium optio quaerat repellendus velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <img src="/static/images/img1.png" alt="" class="card-img" style="height: 100px;width: 100px;padding-left: 20px;padding-top: 15px">
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8">
                            <div class="">
                                 <p style="padding: 5px">Lorem ipsum dolor sit amet, conseco doloremque duc quaerat, quasi sequi temporibus veniam vitae voluptates! Asperiores laudantium optio quaerat repellendus velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <img src="/static/images/img1.png" alt="" class="card-img" style="height: 100px;width: 100px;padding-left: 20px;padding-top: 15px">
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8">
                            <div class="">
                                <p style="padding: 5px">Lorem ipsum dolor sit amet, conseco doloremque duc quaerat, quasi sequi temporibus veniam vitae voluptates! Asperiores laudantium optio quaerat repellendus velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <img src="/static/images/img1.png" alt="" class="card-img" style="height: 100px;width: 100px;padding-left: 20px;padding-top: 15px">
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8">
                            <div class="">
                                 <p style="padding: 5px">Lorem ipsum dolor sit amet, conseco doloremque duc quaerat, quasi sequi temporibus veniam vitae voluptates! Asperiores laudantium optio quaerat repellendus velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock body %}