{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div id="section-index">
    <div class="container-fluid">
        <h1 class="content-title">Welcome to Blogpoint </h1>
    </div>
</div>
<div class="post-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <img src="/static/images/img1.png" alt="" class="card-fluid">
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-8">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at culpa error exercitationem laboriosam maiores molestias. Ab asperiores deserunt, doloribus magnam mollitia necessitatibus optio quia similique, vel velit vero voluptatibus?</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}